{% extends 'base.html.twig' %}

{% block body %}
    <h1>Opinion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ opinion.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ opinion.descripcion }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ opinion.img }}</td>
            </tr>
            <tr>
                <th>Puntuacion</th>
                <td>{{ opinion.puntuacion }}</td>
            </tr>
            <tr>
                <th>Publicado</th>
                <td>{{ opinion.publicado }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('opinion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('opinion_edit', { 'id': opinion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
