{% extends 'base.html.twig' %}

{% block body %}

    <h1>Local list</h1>
    <form action="{{ path('buscar') }}" methos="GET">
        <select name='ciudad' class="inline-list">
            <option value="Madrid">Madrid</option>
            <option value="Barcelona">barcelona</option>
        </select> 
        <select name="categoria" class="inline-list">
            <option value="1">Tapas</option>
        </select>
        <div>Ordenar ultimos añadidos</div>
        <input name="nuevos" type="checkbox"/> 
        <button>Buscar</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Web</th>
                <th>Fecha</th>
                <th>Coordenadas</th>
                <th>Img</th>
                <th>Publicado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for local in locals %}
            <tr>
                <td><a href="{{ path('local_show', { 'id': local.id }) }}">{{ local.id }}</a></td>
                <td>{{ local.nombre }}</td>
                <td>{{ local.direccion }}</td>
                <td>{{ local.telefono }}</td>
                <td>{{ local.web }}</td>
                <td>{% if local.fecha %}{{ local.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ local.coordenadasX }}, {{ local.coordenadasY }}, 
                <td>{% if local.publicado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('local_show', { 'id': local.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('local_edit', { 'id': local.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('local_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
{% block scripts %}
	<script src="{{ asset('js/local.js') }}" type="text/javascript"></script>
{% endblock %}
