

{% block body %}
    <div class="ui-content jqm-content" role="main">
	<h3>Introduce direccion</h3>
   {{ form_start(form) }}
   <input type="button" id="mi_direccion" value="Estoy aqui"/>
        {{ form_widget(form) }}       
        <div id="map" style="width:100%; height:200px;"></div>
        <input type="submit" value="Create" />
    {{ form_end(form) }}
	
    <ul>
        <li>
            <a href="{{ path('local_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>
{% endblock %}
{% block scripts %}
	<script src="{{ asset('js/new_local.js') }}" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>    
{% endblock %}
